// Define variables for your color scheme

// For example:
$black: #3C4040;
$green: #303D2B;
$red: #E1563D;
$light-green: #80A850;
$yellow: #DCC53B;
$gray: #E5E5E5;

$blue: #167FFB;
$orange: #E67E22;
$light-gray: #F4F4F4;

// D4D24E
// 94B756
// 317D4F
