// Define variables for your color scheme

// For example:
$black: #3C4040;
$white: #F4F4F4;
$gray: #E5E5E5;
$dark-gray: #A3A3A3;
$green: #303D2B;
$red: #E1563D;
$light-green: #80A850;

$yellow: #FFC65A;
$orange: #E67E22;
$red: #FD1015;
$blue: #167FFB;

// D4D24E
// 94B756
// 317D4F
