<div class='container m-5'>
  <div class="row">
    <div class="col-8">

    <div class="card-trip">
      <%= image_tag("show-event-place-holder.jpg", :alt => "rss feed") %>
      <div class="card-trip-infos">
        <div>
          <h2>Event name</h2>
          <p>Description</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>



      <div style="background-color: blue; height: 100px; width: 200px;" class = 'event-description'>Description
      </div>
      <div style="background-color: green; height: 100px; width: 200px;" class = 'event-discussion'>Discussion
      </div>
    </div>
    <div class = "col-4">
      RIGHT
    <div class = "status-button">Going
    </div>
    <div class = "participants">participants
    </div>

  </div>
</div>

