.btn-flat {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: $light-green;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $green;
  color: white;
}

.btn-big-flat {
  color: white;
  width: 100%;
  padding: 6px 24px;
  border-radius: 4px;
  background: $light-green;
  transition: background 0.3s ease;
}

.btn-big-flat a {
  color: white;
  width: 100%;
  padding: 6px 24px;
  border-radius: 4px;
  background: $light-green;
  transition: background 0.3s ease;
}

.btn-big-flat:hover {
  background: $green;
  color: white;
}

.btn-lg {
  width: 140px;
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: $light-green;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $green;
  color: white;
}

.back-button {
  color: #4A4A4A;
  padding: 3px 24px;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.back-button:hover {
  background: $green;
  color: white;
}
