.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
  border-bottom: 1px solid white;
  flex-grow: 0;
  display: inline;
  // text-decoration-color: white;
  // text-decoration: underline;
}

.logo{
  color: $white;
}

h2 {
  color: $black;
  margin: auto;
}

