.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-white-link {
  color: white !important;
}
.nav-link {
  color: white;
  border-bottom: 1px solid white;
  flex-grow: 0;
  display: inline;
  margin: 30px;
}

.navbar-lewagon h3 {
  color: $white;
  margin: auto;
}
